## Lab-cleaning-numerical-data

In [1]:
# Import the necessary libraries

import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

In [2]:
# Load the we_fn_use_c_marketing_customer_value_analysis.csv into the variable customer_df
# First look at its main features (head, shape, info)

data = pd.read_csv('../lab-cleaning-numerical-data/files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,Location Code,Marital Status,Monthly Premium Auto,Months Since Last Claim,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [3]:
data.shape

(9134, 24)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [5]:
# Rename the columns so they follow the PE8 (snake case)

print(data.columns) # before
cols = []
for i in range(len(data.columns)):
    cols.append(data.columns[i].lower().replace(' ', '_'))
data.columns = cols
print(data.columns) # after

# or use data.columns = data.columns.str.lower().str.replace(' ','_')

Index(['Customer', 'State', 'Customer Lifetime Value', 'Response', 'Coverage',
       'Education', 'Effective To Date', 'EmploymentStatus', 'Gender',
       'Income', 'Location Code', 'Marital Status', 'Monthly Premium Auto',
       'Months Since Last Claim', 'Months Since Policy Inception',
       'Number of Open Complaints', 'Number of Policies', 'Policy Type',
       'Policy', 'Renew Offer Type', 'Sales Channel', 'Total Claim Amount',
       'Vehicle Class', 'Vehicle Size'],
      dtype='object')
Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

In [6]:
# Change effective to date column to datetime format

data['effective_to_date'].dtype

dtype('O')

In [7]:
data['effective_to_date'] = pd.to_datetime(data['effective_to_date'], format="%m/%d/%y")
data
#pd.to_datetime(df['Dates'], format='%y%m%d')

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,Suburban,Married,69,32,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,Suburban,Single,94,13,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,Suburban,Married,108,18,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,Suburban,Married,106,18,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,Rural,Single,73,12,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2011-02-10,Employed,M,71941,Urban,Married,73,18,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2011-02-12,Employed,F,21604,Suburban,Divorced,79,14,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2011-02-06,Unemployed,M,0,Suburban,Single,85,9,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2011-02-03,Employed,M,21941,Suburban,Married,96,34,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2011-02-14,Unemployed,M,0,Suburban,Single,77,3,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [8]:
data['effective_to_date'].dtype

dtype('<M8[ns]')

In [9]:
# Check NaN values per column
round(data.isna().sum()/len(data),4)*100

customer                         0.0
state                            0.0
customer_lifetime_value          0.0
response                         0.0
coverage                         0.0
education                        0.0
effective_to_date                0.0
employmentstatus                 0.0
gender                           0.0
income                           0.0
location_code                    0.0
marital_status                   0.0
monthly_premium_auto             0.0
months_since_last_claim          0.0
months_since_policy_inception    0.0
number_of_open_complaints        0.0
number_of_policies               0.0
policy_type                      0.0
policy                           0.0
renew_offer_type                 0.0
sales_channel                    0.0
total_claim_amount               0.0
vehicle_class                    0.0
vehicle_size                     0.0
dtype: float64

In [10]:
data.describe()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
count,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000,9134.000000
mean,8004.940475,37657.380009,93.219291,15.097000,48.064594,0.384388,2.966170,434.088794
std,6870.967608,30379.904734,34.407967,10.073257,27.905991,0.910384,2.390182,290.500092
min,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007
25%,3994.251794,0.000000,68.000000,6.000000,24.000000,0.000000,1.000000,272.258244
50%,5780.182197,33889.500000,83.000000,14.000000,48.000000,0.000000,2.000000,383.945434
75%,8962.167041,62320.000000,109.000000,23.000000,71.000000,0.000000,4.000000,547.514839
max,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678

In [11]:
# Define a function that differentiates between continuous and discrete variables
# Hint: A number of unique values might be useful 
# Store continuous data into a continuous variable and do the same for discrete and categorical

In [12]:
list(set(data.dtypes.tolist()))

[dtype('<M8[ns]'), dtype('O'), dtype('int64'), dtype('float64')]

In [13]:
unique_values = data.nunique()
unique_values

customer                         9134
state                               5
customer_lifetime_value          8041
response                            2
coverage                            3
education                           5
effective_to_date                  59
employmentstatus                    5
gender                              2
income                           5694
location_code                       3
marital_status                      3
monthly_premium_auto              202
months_since_last_claim            36
months_since_policy_inception     100
number_of_open_complaints           6
number_of_policies                  9
policy_type                         3
policy                              9
renew_offer_type                    4
sales_channel                       4
total_claim_amount               5106
vehicle_class                       6
vehicle_size                        3
dtype: int64

In [14]:
def data_type(data):
    data_continious_cols=[]
    data_discrete_cols=[]
    data_categorical_cols=[]
    for x in data.columns:
        if (data[x].dtypes == float or data[x].dtypes == int) and len(data[x].unique()) > 20:
            data_continious_cols.append(x)
           
        elif (data[x].dtypes == float or data[x].dtypes == int) and len(data[x].unique()) <= 20:
            data_discrete_cols.append(x)       
        else:
            data_categorical_cols.append(x)
    data_con= data[data_continious_cols]
    data_dis=data[data_discrete_cols]
    data_cat=data[data_categorical_cols]

        
    return(data_con, data_dis, data_cat)

In [15]:
data_con, data_dis, data_cat=data_type(data)

In [16]:
# For the categorical data, check if there is some kind of text 
# in a variable so we would need to clean it. Hint: Use the same method you used in step 7 
# Depending on the implementation, decide what to do with the variables you get

In [17]:
data_cat

,customer,state,response,coverage,education,effective_to_date,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,No,Basic,Bachelor,2011-02-24,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,No,Extended,Bachelor,2011-01-31,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,No,Premium,Bachelor,2011-02-19,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,No,Basic,Bachelor,2011-01-20,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,No,Basic,Bachelor,2011-02-03,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,No,Basic,Bachelor,2011-02-10,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,PK87824,California,Yes,Extended,College,2011-02-12,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,TD14365,California,No,Extended,Bachelor,2011-02-06,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,UP19263,California,No,Extended,College,2011-02-03,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,Y167826,California,No,Extended,College,2011-02-14,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [18]:
data_cat.nunique()

customer             9134
state                   5
response                2
coverage                3
education               5
effective_to_date      59
employmentstatus        5
gender                  2
location_code           3
marital_status          3
policy_type             3
policy                  9
renew_offer_type        4
sales_channel           4
vehicle_class           6
vehicle_size            3
dtype: int64

In [19]:
def data_cat_selection(data):
    data_too_much_text_cols=[]
    data_acceptable_cols=[]
    #data_categorical_cols=[]
    for x in data.columns:
        if len(data[x].unique()) > 10:
            data_too_much_text_cols.append(x)
           
        elif  len(data[x].unique()) <= 10:
            data_acceptable_cols.append(x)       
        
    data_too_much_text= data[data_too_much_text_cols]
    data_cat_accepted=data[data_acceptable_cols]
    

        
    return(data_too_much_text, data_cat_accepted)

In [20]:
#data_cat_selection(data_cat)
data_too_much_text, data_cat_accepted = data_cat_selection(data_cat)

In [21]:
#Get categorical features
data_cat_accepted

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize

In [22]:
data_too_much_text

     customer effective_to_date
0     BU79786        2011-02-24
1     QZ44356        2011-01-31
2     AI49188        2011-02-19
3     WW63253        2011-01-20
4     HB64268        2011-02-03
...       ...               ...
9129  LA72316        2011-02-10
9130  PK87824        2011-02-12
9131  TD14365        2011-02-06
9132  UP19263        2011-02-03
9133  Y167826        2011-02-14

[9134 rows x 2 columns]

In [23]:
# I choose to change 'effective_to_date'to int, in order to add it to data_continious 

effective_to_date_int=[]
for i in data_cat['effective_to_date']:
    effective_to_date_int.append(i.strftime("%Y%m%d"))
    
effective_to_date_int

['20110224',
 '20110131',
 '20110219',
 '20110120',
 '20110203',
 '20110125',
 '20110224',
 '20110118',
 '20110126',
 '20110217',
 '20110221',
 '20110106',
 '20110206',
 '20110110',
 '20110118',
 '20110117',
 '20110206',
 '20110105',
 '20110227',
 '20110114',
 '20110219',
 '20110121',
 '20110126',
 '20110224',
 '20110205',
 '20110129',
 '20110228',
 '20110212',
 '20110202',
 '20110207',
 '20110228',
 '20110122',
 '20110125',
 '20110118',
 '20110213',
 '20110115',
 '20110108',
 '20110206',
 '20110125',
 '20110207',
 '20110118',
 '20110111',
 '20110128',
 '20110208',
 '20110223',
 '20110125',
 '20110131',
 '20110102',
 '20110207',
 '20110118',
 '20110117',
 '20110111',
 '20110221',
 '20110216',
 '20110117',
 '20110205',
 '20110213',
 '20110223',
 '20110128',
 '20110228',
 '20110102',
 '20110122',
 '20110115',
 '20110127',
 '20110123',
 '20110131',
 '20110126',
 '20110110',
 '20110127',
 '20110109',
 '20110224',
 '20110211',
 '20110212',
 '20110204',
 '20110118',
 '20110211',
 '20110201',
 '20110215',
 '20110206',
 '20110227',
 '20110126',
 '20110226',
 '20110127',
 '20110116',
 '20110127',
 '20110228',
 '20110125',
 '20110101',
 '20110201',
 '20110219',
 '20110127',
 '20110227',
 '20110117',
 '20110210',
 '20110124',
 '20110224',
 '20110215',
 '20110216',
 '20110122',
 '20110225',
 '20110111',
 '20110131',
 '20110112',
 '20110216',
 '20110209',
 '20110119',
 '20110104',
 '20110109',
 '20110127',
 '20110214',
 '20110227',
 '20110212',
 '20110226',
 '20110220',
 '20110202',
 '20110215',
 '20110218',
 '20110121',
 '20110115',
 '20110205',
 '20110224',
 '20110105',
 '20110128',
 '20110112',
 '20110216',
 '20110103',
 '20110207',
 '20110113',
 '20110103',
 '20110217',
 '20110121',
 '20110126',
 '20110131',
 '20110102',
 '20110207',
 '20110126',
 '20110111',
 '20110115',
 '20110208',
 '20110111',
 '20110109',
 '20110204',
 '20110121',
 '20110216',
 '20110224',
 '20110118',
 '20110130',
 '20110109',
 '20110201',
 '20110228',
 '20110131',
 '20110217',
 '20110212',
 '20110224',
 '20110201',
 '20110206',
 '20110123',
 '20110121',
 '20110120',
 '20110106',
 '20110222',
 '20110227',
 '20110221',
 '20110129',
 '20110222',
 '20110221',
 '20110110',
 '20110118',
 '20110116',
 '20110106',
 '20110127',
 '20110115',
 '20110109',
 '20110128',
 '20110226',
 '20110104',
 '20110201',
 '20110127',
 '20110214',
 '20110123',
 '20110218',
 '20110124',
 '20110218',
 '20110119',
 '20110104',
 '20110207',
 '20110130',
 '20110217',
 '20110113',
 '20110208',
 '20110129',
 '20110205',
 '20110120',
 '20110127',
 '20110109',
 '20110111',
 '20110217',
 '20110216',
 '20110210',
 '20110219',
 '20110121',
 '20110227',
 '20110204',
 '20110118',
 '20110203',
 '20110102',
 '20110109',
 '20110119',
 '20110111',
 '20110131',
 '20110111',
 '20110211',
 '20110122',
 '20110224',
 '20110228',
 '20110125',
 '20110226',
 '20110219',
 '20110102',
 '20110102',
 '20110126',
 '20110202',
 '20110227',
 '20110120',
 '20110117',
 '20110117',
 '20110224',
 '20110214',
 '20110220',
 '20110219',
 '20110208',
 '20110206',
 '20110227',
 '20110201',
 '20110223',
 '20110111',
 '20110210',
 '20110225',
 '20110216',
 '20110130',
 '20110211',
 '20110114',
 '20110214',
 '20110203',
 '20110131',
 '20110215',
 '20110227',
 '20110121',
 '20110114',
 '20110125',
 '20110202',
 '20110209',
 '20110228',
 '20110127',
 '20110219',
 '20110218',
 '20110214',
 '20110130',
 '20110209',
 '20110206',
 '20110223',
 '20110222',
 '20110116',
 '20110202',
 '20110222',
 '20110103',
 '20110227',
 '20110215',
 '20110111',
 '20110121',
 '20110126',
 '20110101',
 '20110223',
 '20110204',
 '20110206',
 '20110210',
 '20110102',
 '20110210',
 '20110119',
 '20110223',
 '20110107',
 '20110114',
 '20110215',
 '20110224',
 '20110202',
 '20110107',
 '20110228',
 '20110217',
 '20110212',
 '20110109',
 '20110110',
 '20110108',
 '20110125',
 '20110127',
 '20110112',
 '20110116',
 '20110122',
 '20110113',
 '20110211',
 '20110104',
 '20110129',
 '20110228',
 '20110204',
 '20110202',
 '20110103',
 '20110221',
 '20110201',
 '20110101',
 '20110228',
 '20110112',
 '20110213',
 '20110129',
 '20110213',
 '20110122',
 '20110125',
 '20110223',
 '20110218',
 '20110103',
 '20110109',
 '20110103',
 '20110221',
 '20110222',
 '20110109',
 '20110207',
 '20110226',
 '20110130',
 '20110228',
 '20110220',
 '20110120',
 '20110122',
 '20110106',
 '20110206',
 '20110202',
 '20110223',
 '20110107',
 '20110227',
 '20110121',
 '20110204',
 '20110108',
 '20110204',
 '20110115',
 '20110207',
 '20110219',
 '20110209',
 '20110205',
 '20110115',
 '20110206',
 '20110227',
 '20110117',
 '20110107',
 '20110103',
 '20110126',
 '20110107',
 '20110114',
 '20110220',
 '20110101',
 '20110110',
 '20110127',
 '20110207',
 '20110125',
 '20110211',
 '20110119',
 '20110204',
 '20110209',
 '20110220',
 '20110204',
 '20110108',
 '20110202',
 '20110207',
 '20110110',
 '20110126',
 '20110201',
 '20110128',
 '20110111',
 '20110203',
 '20110204',
 '20110214',
 '20110124',
 '20110223',
 '20110212',
 '20110105',
 '20110214',
 '20110202',
 '20110123',
 '20110105',
 '20110224',
 '20110110',
 '20110213',
 '20110120',
 '20110205',
 '20110107',
 '20110227',
 '20110108',
 '20110106',
 '20110203',
 '20110120',
 '20110223',
 '20110126',
 '20110201',
 '20110214',
 '20110113',
 '20110124',
 '20110117',
 '20110115',
 '20110218',
 '20110106',
 '20110114',
 '20110206',
 '20110114',
 '20110124',
 '20110126',
 '20110115',
 '20110122',
 '20110209',
 '20110216',
 '20110226',
 '20110124',
 '20110128',
 '20110203',
 '20110127',
 '20110204',
 '20110222',
 '20110119',
 '20110105',
 '20110203',
 '20110118',
 '20110109',
 '20110203',
 '20110218',
 '20110108',
 '20110207',
 '20110122',
 '20110103',
 '20110120',
 '20110203',
 '20110207',
 '20110209',
 '20110226',
 '20110214',
 '20110102',
 '20110103',
 '20110227',
 '20110115',
 '20110102',
 '20110131',
 '20110116',
 '20110218',
 '20110102',
 '20110120',
 '20110127',
 '20110126',
 '20110215',
 '20110107',
 '20110110',
 '20110220',
 '20110118',
 '20110124',
 '20110108',
 '20110209',
 '20110216',
 '20110110',
 '20110228',
 '20110122',
 '20110105',
 '20110121',
 '20110124',
 '20110114',
 '20110119',
 '20110131',
 '20110216',
 '20110112',
 '20110106',
 '20110123',
 '20110218',
 '20110207',
 '20110226',
 '20110105',
 '20110210',
 '20110112',
 '20110101',
 '20110131',
 '20110214',
 '20110224',
 '20110201',
 '20110106',
 '20110127',
 '20110107',
 '20110131',
 '20110225',
 '20110103',
 '20110227',
 '20110119',
 '20110131',
 '20110121',
 '20110214',
 '20110218',
 '20110208',
 '20110130',
 '20110128',
 '20110124',
 '20110217',
 '20110204',
 '20110120',
 '20110203',
 '20110206',
 '20110122',
 '20110222',
 '20110129',
 '20110113',
 '20110213',
 '20110210',
 '20110126',
 '20110207',
 '20110107',
 '20110118',
 '20110222',
 '20110116',
 '20110101',
 '20110210',
 '20110109',
 '20110202',
 '20110226',
 '20110201',
 '20110214',
 '20110225',
 '20110217',
 '20110208',
 '20110225',
 '20110211',
 '20110103',
 '20110104',
 '20110127',
 '20110127',
 '20110213',
 '20110108',
 '20110226',
 '20110201',
 '20110116',
 '20110228',
 '20110206',
 '20110202',
 '20110106',
 '20110211',
 '20110113',
 '20110225',
 '20110206',
 '20110205',
 '20110119',
 '20110125',
 '20110117',
 '20110227',
 '20110214',
 '20110117',
 '20110215',
 '20110119',
 '20110207',
 '20110127',
 '20110109',
 '20110208',
 '20110206',
 '20110105',
 '20110101',
 '20110228',
 '20110209',
 '20110127',
 '20110106',
 '20110119',
 '20110115',
 '20110114',
 '20110212',
 '20110123',
 '20110121',
 '20110124',
 '20110225',
 '20110103',
 '20110201',
 '20110204',
 '20110122',
 '20110219',
 '20110114',
 '20110210',
 '20110222',
 '20110105',
 '20110227',
 '20110124',
 '20110113',
 '20110103',
 '20110217',
 '20110102',
 '20110225',
 '20110221',
 '20110224',
 '20110227',
 '20110210',
 '20110202',
 '20110129',
 '20110129',
 '20110226',
 '20110108',
 '20110205',
 '20110213',
 '20110225',
 '20110205',
 '20110214',
 '20110123',
 '20110101',
 '20110220',
 '20110129',
 '20110220',
 '20110207',
 '20110222',
 '20110102',
 '20110105',
 '20110107',
 '20110102',
 '20110117',
 '20110121',
 '20110222',
 '20110204',
 '20110207',
 '20110120',
 '20110222',
 '20110101',
 '20110214',
 '20110128',
 '20110122',
 '20110130',
 '20110118',
 '20110222',
 '20110103',
 '20110110',
 '20110128',
 '20110220',
 '20110105',
 '20110228',
 '20110218',
 '20110107',
 '20110204',
 '20110224',
 '20110226',
 '20110213',
 '20110213',
 '20110227',
 '20110206',
 '20110129',
 '20110119',
 '20110103',
 '20110116',
 '20110227',
 '20110124',
 '20110222',
 '20110109',
 '20110127',
 '20110106',
 '20110228',
 '20110109',
 '20110209',
 '20110116',
 '20110114',
 '20110226',
 '20110131',
 '20110124',
 '20110120',
 '20110101',
 '20110108',
 '20110203',
 '20110102',
 '20110106',
 '20110115',
 '20110129',
 '20110214',
 '20110102',
 '20110102',
 '20110222',
 '20110115',
 '20110214',
 '20110218',
 '20110112',
 '20110116',
 '20110123',
 '20110107',
 '20110104',
 '20110103',
 '20110119',
 '20110128',
 '20110124',
 '20110108',
 '20110223',
 '20110116',
 '20110123',
 '20110131',
 '20110116',
 '20110214',
 '20110112',
 '20110128',
 '20110227',
 '20110102',
 '20110102',
 '20110120',
 '20110129',
 '20110111',
 '20110109',
 '20110222',
 '20110115',
 '20110212',
 '20110121',
 '20110227',
 '20110204',
 '20110117',
 '20110110',
 '20110219',
 '20110103',
 '20110126',
 '20110228',
 '20110113',
 '20110131',
 '20110216',
 '20110108',
 '20110203',
 '20110211',
 '20110110',
 '20110223',
 '20110110',
 '20110126',
 '20110206',
 '20110120',
 '20110203',
 '20110213',
 '20110117',
 '20110209',
 '20110102',
 '20110226',
 '20110213',
 '20110222',
 '20110226',
 '20110212',
 '20110121',
 '20110205',
 '20110218',
 '20110117',
 '20110213',
 '20110203',
 '20110101',
 '20110219',
 '20110225',
 '20110219',
 '20110216',
 '20110213',
 '20110103',
 '20110219',
 '20110122',
 '20110123',
 '20110212',
 '20110202',
 '20110224',
 '20110105',
 '20110224',
 '20110226',
 '20110117',
 '20110122',
 '20110107',
 '20110118',
 '20110107',
 '20110207',
 '20110107',
 '20110118',
 '20110107',
 '20110101',
 '20110213',
 '20110210',
 '20110110',
 '20110128',
 '20110123',
 '20110228',
 '20110106',
 '20110120',
 '20110214',
 '20110131',
 '20110113',
 '20110113',
 '20110116',
 '20110216',
 '20110111',
 '20110228',
 '20110124',
 '20110204',
 '20110114',
 '20110217',
 '20110123',
 '20110214',
 '20110220',
 '20110121',
 '20110119',
 '20110224',
 '20110214',
 '20110127',
 '20110206',
 '20110222',
 '20110131',
 '20110113',
 '20110127',
 '20110128',
 '20110102',
 '20110107',
 '20110111',
 '20110105',
 '20110217',
 '20110221',
 '20110216',
 '20110121',
 '20110228',
 '20110212',
 '20110219',
 '20110213',
 '20110221',
 '20110102',
 '20110202',
 '20110122',
 '20110202',
 '20110222',
 '20110130',
 '20110129',
 '20110127',
 '20110113',
 '20110224',
 '20110126',
 '20110116',
 '20110127',
 '20110125',
 '20110206',
 '20110117',
 '20110206',
 '20110217',
 '20110128',
 '20110202',
 '20110131',
 '20110207',
 '20110105',
 '20110211',
 '20110217',
 '20110114',
 '20110117',
 '20110224',
 '20110203',
 '20110105',
 '20110117',
 '20110208',
 '20110210',
 '20110115',
 '20110109',
 '20110112',
 '20110120',
 '20110108',
 '20110202',
 '20110218',
 '20110123',
 '20110212',
 '20110219',
 '20110112',
 '20110126',
 '20110227',
 '20110104',
 '20110214',
 '20110111',
 '20110124',
 '20110203',
 '20110118',
 '20110118',
 '20110204',
 '20110219',
 '20110119',
 '20110116',
 '20110217',
 '20110130',
 '20110204',
 '20110127',
 '20110120',
 '20110207',
 '20110110',
 '20110221',
 '20110203',
 '20110101',
 '20110223',
 '20110119',
 '20110120',
 '20110211',
 '20110103',
 '20110220',
 '20110118',
 '20110221',
 '20110121',
 '20110206',
 '20110201',
 '20110131',
 '20110217',
 '20110110',
 '20110112',
 '20110210',
 '20110104',
 '20110116',
 '20110105',
 '20110121',
 '20110102',
 '20110216',
 '20110101',
 '20110216',
 '20110115',
 '20110102',
 '20110105',
 '20110221',
 '20110205',
 '20110114',
 '20110210',
 '20110112',
 '20110115',
 '20110210',
 '20110202',
 '20110219',
 '20110119',
 '20110121',
 '20110108',
 '20110120',
 '20110107',
 '20110107',
 '20110123',
 '20110203',
 '20110117',
 '20110218',
 '20110218',
 '20110124',
 '20110126',
 '20110114',
 '20110126',
 '20110107',
 '20110209',
 '20110125',
 '20110121',
 '20110221',
 '20110214',
 '20110128',
 '20110205',
 '20110220',
 '20110227',
 '20110101',
 '20110124',
 '20110114',
 '20110202',
 '20110111',
 '20110117',
 '20110126',
 '20110217',
 '20110213',
 '20110220',
 '20110122',
 '20110222',
 '20110119',
 '20110214',
 '20110126',
 '20110131',
 '20110206',
 '20110128',
 '20110106',
 '20110227',
 '20110228',
 '20110125',
 '20110213',
 '20110102',
 '20110203',
 '20110228',
 '20110130',
 '20110111',
 '20110117',
 '20110104',
 '20110226',
 '20110127',
 '20110104',
 '20110211',
 '20110126',
 '20110228',
 '20110207',
 '20110225',
 '20110103',
 '20110120',
 '20110226',
 '20110219',
 '20110221',
 '20110128',
 '20110126',
 '20110104',
 '20110105',
 '20110205',
 '20110119',
 '20110215',
 '20110201',
 '20110209',
 '20110205',
 '20110117',
 '20110223',
 '20110207',
 '20110226',
 ...]

In [25]:
data_con['effective_to_date']= effective_to_date_int

In [26]:
data_con

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,total_claim_amount,effective_to_date
0,2763.519279,56274,69,32,5,384.811147,20110224
1,6979.535903,0,94,13,42,1131.464935,20110131
2,12887.431650,48767,108,18,38,566.472247,20110219
3,7645.861827,0,106,18,65,529.881344,20110120
4,2813.692575,43836,73,12,44,138.130879,20110203
...,...,...,...,...,...,...,...
9129,23405.987980,71941,73,18,89,198.234764,20110210
9130,3096.511217,21604,79,14,28,379.200000,20110212
9131,8163.890428,0,85,9,37,790.784983,20110206
9132,7524.442436,21941,96,34,3,691.200000,20110203
9133,2611.836866,0,77,3,90,369.600000,20110214

In [27]:
# What should we do with the customer_id column?
# Remove ID
data_Cat=data_cat_accepted
data_Cat

,state,response,coverage,education,employmentstatus,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,Washington,No,Basic,Bachelor,Employed,F,Suburban,Married,Corporate Auto,Corporate L3,Offer1,Agent,Two-Door Car,Medsize
1,Arizona,No,Extended,Bachelor,Unemployed,F,Suburban,Single,Personal Auto,Personal L3,Offer3,Agent,Four-Door Car,Medsize
2,Nevada,No,Premium,Bachelor,Employed,F,Suburban,Married,Personal Auto,Personal L3,Offer1,Agent,Two-Door Car,Medsize
3,California,No,Basic,Bachelor,Unemployed,M,Suburban,Married,Corporate Auto,Corporate L2,Offer1,Call Center,SUV,Medsize
4,Washington,No,Basic,Bachelor,Employed,M,Rural,Single,Personal Auto,Personal L1,Offer1,Agent,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,California,No,Basic,Bachelor,Employed,M,Urban,Married,Personal Auto,Personal L1,Offer2,Web,Four-Door Car,Medsize
9130,California,Yes,Extended,College,Employed,F,Suburban,Divorced,Corporate Auto,Corporate L3,Offer1,Branch,Four-Door Car,Medsize
9131,California,No,Extended,Bachelor,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L2,Offer1,Branch,Four-Door Car,Medsize
9132,California,No,Extended,College,Employed,M,Suburban,Married,Personal Auto,Personal L2,Offer3,Branch,Four-Door Car,Large
9133,California,No,Extended,College,Unemployed,M,Suburban,Single,Corporate Auto,Corporate L3,Offer4,Call Center,Two-Door Car,Medsize